{% for each_step in steps -%}
{% if each_step.action == 'GET' and each_step.from == 'payload' -%}
{% for each_field in each_step.field -%}
{{ each_field }} = payload.get('{{ each_field }}')
{% endfor -%}
{% endif -%}

{% if each_step.action == 'GET' and each_step.from == 'collection' -%}
{{ each_step.field }}_data = db_handler.find("{{ each_step.collection_name }}", {"{{ each_step.field }}": {{ each_step.field }} })
{% endif -%}

{% if each_step.condition -%}
{% if each_step.condition.type == 'exists' -%}
if not {{ each_step.field }}_data:
    return jsonify({"error": "{{ each_step.field }}, {{ each_step.condition.error_message }}"}), 404
{% elif each_step.condition.type == 'not_exists' -%}
if {{ each_step.field }}_data:
    return jsonify({"error": "{{ each_step.field }}, {{ each_step.condition.error_message }}"}), 400
{% endif -%}
{% endif -%}

{% if each_step.action == 'POST' -%}
result_id = db_handler.insert("{{ each_step.collection_name }}", payload)
if result_id:
    return jsonify({"message": "Inserted successfully", "id": result_id}), 201
else:
    return jsonify({"error": "Insertion failed"}), 500
{% endif -%}

{% if each_step.action == 'PUT' -%}
{% if each_step.update_type == 'append' -%}
update_result = db_handler.update("{{ each_step.collection_name }}", {"{{ each_step.field }}": {{ each_step.field }} }, {"$push": {"{{ each_step.update_field }}": {{ each_step.update_value }} }})
{% elif each_step.update_type == 'remove' -%}
update_result = db_handler.update("{{ each_step.collection_name }}", {"{{ each_step.field }}": {{ each_step.field }} }, {"$pull": {"{{ each_step.update_field }}": {{ each_step.update_value }} }})
{% elif each_step.update_type == 'set' -%}
update_result = db_handler.update("{{ each_step.collection_name }}", {"{{ each_step.field }}": {{ each_step.field }}}, {"$set": payload})
{% endif -%}

{% if update_result > 0 -%}
return jsonify({"message": "Updated successfully"}), 200
{% else -%}
return jsonify({"error": "No records updated"}), 404
{% endif -%}
{% endif -%}

{% if each_step.action == 'DELETE' -%}
deleted_count = db_handler.delete("{{ each_step.collection_name }}", {"{{ each_step.field }}": {{ each_step.field }} })
{% if deleted_count > 0 -%}
return jsonify({"message": "Deleted successfully"}), 200
{% else -%}
return jsonify({"error": "No records deleted"}), 404
{% endif -%}
{% endif -%}
{% endfor %}
