from flask import Flask, request, jsonify
import logging
from modules.db_handler import DatabaseHandler
from modules.utils import setup_logging


# Initialize Flask app
app = Flask(__name__)

# Setup logging
setup_logging()

# Initialize Database Handler
db_handler = DatabaseHandler("{{ database_name }}")

# Register routes
{{ routes }}

if __name__ == '__main__':
    app.run(debug=True)
